---
// src/pages/index.astro

import Layout from "../layouts/Layout.astro";
import OfferGrid from "../components/OfferGrid.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";

interface Offer {
  image: string;
  title: string;
  price: string;
  description: string;
}

const offers: Offer[] = [
  {
    image:
      "https://static.wixstatic.com/media/408ada_a2382399e370423f974bb1ce1ed2ffe1~mv2.jpg/v1/fill/w_480,h_320,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/408ada_a2382399e370423f974bb1ce1ed2ffe1~mv2.jpg",
    title: "Milkaut 1LT",
    price: "$1490.00",
    description: "Milkaut UAT Entera y Descremada",
  },
  {
    image:
      "https://borrachines.com.ar/wp-content/uploads/2022/06/Villa-Del-Sur-Agua-Mineral-Natural-Sin-Gas-Pet-1650ml-01-Mercado.png",
    title: "Villa del Sur 1650cc",
    price: "$799.00",
    description: "",
  },
  {
    image:
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUsJZPFKjsQsNZFUvzGzREtQOs7sdHd-IAfQ&s",
    title: "Celestial 6 LTS",
    price: "$1490.00",
    description: "Bidón de Agua Celestial 6 LTS",
  },
  {
    image:
      "https://www.lacoopeencasa.coop/media/lcec/publico/articulos/e/9/b/e9bed3a6c2a8314aa15f6ca4265cd829",
    title: "Cañuelas Arroz G. Largo",
    price: "$799.00",
    description: "Cañuelas Arroz Grano Largo Fino 500g",
  },
  {
    image:
      "https://www.mayoristasoto.com/10686-medium_default/papas-fritas-good-show-63g-clasicas.jpg",
    title: "Good Show Papas Fritas",
    price: "$1300.00",
    description: "Good Show Papas 147g Clásicas",
  },
  {
    image:
      "https://noalsa.com/wp-content/uploads/2021/01/queo-noal-reggianito-sin-pintar.jpg",
    title: "Noal Reggianito",
    price: "$12900.00",
    description: "Precio por Kilo",
  },
  {
    image:
      "https://gravitydevs.com/wproggiano/wp-content/uploads/2018/09/catalogo-1-1170x700.png",
    title: "Roggiano Jamón Natural",
    price: "$1290.00",
    description: "Precio por 100g",
  },
  {
    image:
      "https://noalsa.com/wp-content/uploads/2021/01/queso-noal-cremoso.jpg",
    title: "Noal Cremoso",
    price: "$6500.00",
    description: "Precio por Kilo",
  },
  {
    image:
      "https://minervafoods.com/wp-content/uploads/2022/12/ossobuco_-_blog-1.jpg",
    title: "Osobuco",
    price: "$4490.00",
    description: "Precio por Kilo",
  },
];
---

<Layout title="Ofertas La Preferida">
  <Hero />
  <main>
    <OfferGrid offers={offers} />
  </main>
  <Footer />
</Layout>
