---
// src/pages/index.astro

import Layout from "../layouts/Layout.astro";
import OfferGrid from "../components/OfferGrid.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";

interface Offer {
  image: string;
  title: string;
  price: string;
  description: string;
}

const offers: Offer[] = [
  {
    image:
      "https://jumboargentina.vtexassets.com/arquivos/ids/814877-800-600?v=638463837880930000&width=800&height=600&aspect=true",
    title: "Oferta 1",
    price: "$10.00",
    description: "Descripción breve de la oferta 1.",
  },
  {
    image:
      "https://static.wixstatic.com/media/1e7822_724b6626e4bc47b8ab36f0f5169a51d3~mv2.jpeg/v1/fill/w_480,h_360,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/1e7822_724b6626e4bc47b8ab36f0f5169a51d3~mv2.jpeg",
    title: "Oferta 2",
    price: "$15.00",
    description: "Descripción breve de la oferta 2.",
  },
  {
    image: "https://via.placeholder.com/300",
    title: "Oferta 3",
    price: "$20.00",
    description: "Descripción breve de la oferta 3.",
  },
  {
    image: "https://via.placeholder.com/300",
    title: "Oferta 1",
    price: "$10.00",
    description: "Descripción breve de la oferta 1.",
  },
  {
    image: "https://via.placeholder.com/300",
    title: "Oferta 2",
    price: "$15.00",
    description: "Descripción breve de la oferta 2.",
  },
  {
    image: "https://via.placeholder.com/300",
    title: "Oferta 3",
    price: "$20.00",
    description: "Descripción breve de la oferta 3.",
  },
  {
    image: "https://via.placeholder.com/300",
    title: "Oferta 1",
    price: "$10.00",
    description: "Descripción breve de la oferta 1.",
  },
  {
    image: "https://via.placeholder.com/300",
    title: "Oferta 2",
    price: "$15.00",
    description: "Descripción breve de la oferta 2.",
  },
  {
    image: "https://via.placeholder.com/300",
    title: "Oferta 3",
    price: "$20.00",
    description: "Descripción breve de la oferta 3.",
  },
];
---

<Layout title="Ofertas La Preferida">
  <Hero />
  <main>
    <OfferGrid offers={offers} />
  </main>
  <Footer />
</Layout>
