<section
  class="flex flex-row text-5xl justify-center items-center text-center gap-2"
>
  <img src="/logocolor.svg" alt="Logo" class="h-32" />
  <h1 class="text-bold text-white">Ofertas Semanales</h1>
</section>
